.main{
  &__card{
    position: absolute;
    // background-color: #fff;
    height: 99%;
    width: 99%;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &.hidden{
      display: none;
    }
    .card__content{
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      align-items: center;
      max-height: 630px;
      overflow-y: scroll;
    }
    .card__button{
      // margin-top: 50px;
      padding: 5px 10px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 15px;
      border: 3px solid var( --color-nav-grey-text);
      &.hidden{
        display: none;
      }
      &:hover{
        transform: scale(1.05);
        border-color: #83007c;
        color: #83007c;
      }
    }
    .card__close{
      display: flex;
      align-items: center;
      padding-left: 8px;
      width: 35px;
      height: 35px;
      border-radius: 8px;
      font-weight: 600;
      border: 3px solid var( --color-nav-grey-text);
      &:hover{
        transform: scale(1.05);
        border-color: #83007c;
        color: #83007c;
      }
    }
    .card__block{
      padding: 5px;
      border: 3px solid var( --color-nav-grey-text);
      border-radius: 10px;
      background-color: #f5f5f5;
      text-align: center;
      width: 60%;
    }
    &>.card__container{
      display: flex;
      flex-direction: column;
      padding: 20px 50px;
      margin: 0 auto;
      background-color: #fff;
      border: 3px solid rgb(184, 184, 184);
      border-radius: 10px;
      width: 40vw;
        &>.card__header{
          display: flex;
          justify-content: space-between;
          font-size: 20px;
        }
      
    }
    
    }
}
.card{
  &__subtitle{
    font-size: 14px;
    color: #919191;
    margin-top: 10px;
  }
  &__buttons{
    display: flex;
    gap: 15px;
  }
  &__button{
    &.gen{
      background-color: #7ff3a2;
    }
    &.set{
      background-color: #8de3fd;
    }
    &.do{
      background-color: #e7e579;
    }
    &.del{
      background-color: #ec8585;
    }
    &.res{
      background-color: #df20bf;
      color: #fff;
    }
  }
  &__id{
    background-color: #555555;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    border-radius: 50% ;
  }
  &__text{
    font-size: 16px;
    color: #555555;
  }
  &__image{
    background-color: rgb(208, 252, 252);
    padding: 0px 3px;
    border: 2px solid #bebebe;
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;

  }
}